@import "tailwindcss";

/* Maison Neue font faces */
@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/fonnts.com-Maison_Neue_Book.ttf') format('truetype'),
    url('/fonts/fonnts.com-Maison_Neue_Bold.ttf') format('truetype'),
    url('/fonts/fonnts.com-Maison_Neue_Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Maison Neue' !important;
}